{
  "extends": "react-app",
  "rules": {
    "no-multi-spaces": 0,
    "react/jsx-tag-spacing": 1,
    "react/no-multi-comp": 2,
    "react/jsx-key": 2,
    "no-mixed-spaces-and-tabs": 0,
    "no-unreachable": 1,
    "comma-dangle": 2,
    "no-alert": 0,
    "no-multo-comp":0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
