/**
 * Reset CSS
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
	margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-size: 14px;
}

blockquote,
q {
	quotes: none;
}


small {
	opacity: .6;
}

.text-muted {
	opacity: .6;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tcenter{
	text-align: center;
}

.y-center {
	display: flex;
	align-items: center;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.none {
	display: none;
}

.b-white {
	border-color: #ffffff;
}

.w-full {
	width: 100%;
}

.w-auto {
	width: auto;
}

.h-auto {
	height: auto;
}

.h-full {
	height: 100%;
}

.h-v {
	height: 100vh;
}

.h-v-5 {
	height: 50vh;
}


.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
.clear {
  display: block;
  overflow: hidden;
}

// 清理浮动
.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}
.bfc{
	overflow: hidden;
}

.w-40 {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
}

.pointer{
	cursor: pointer;
}

ul,ol{
  list-style: none;
}

//美化webkit内核滚动条
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  height: 8px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

//App.css


/*这里定义整个应用加载时的动画，进场前这里设置了缩放为0，
进场过程中缩放变为1，也就是100%，持续时间为500ms，
时间曲是ease-out，一种先快后慢的变化曲线*/

.appAppear-appear {
  opacity: 0;
  transform: scale(0);
}

.appAppear-appear.appAppear-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: 500ms ease-out;
}

/*设置进场前透明度为0，放缩为0*/

.fade-enter {
  opacity: 0;
  transform: scale(0);
}


/*设置进场过程中 透明度为1，放缩为1，放缩的位置为左上角，持续时间为500ms，时间曲是ease-out */
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
  transition: 800ms ease-out;
}

/*设置退场前透明度为1，放缩为1*/
.fade-exit {
  opacity: 1;
  transform: scale(1);
}

/*设置退场过程中 透明度为0，放缩为0，放缩的位置默认是中间，所以不设置也可以，
持续时间为500ms，时间曲是ease-out */
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: 800ms ease-out;
}
